<!DOCTYPE html>
<html>
<head>
  <title>Fake News Detector</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="dashboard.html">Dashboard</a>
    <a href="dataset.html">Dataset</a>
    <a href="contact.html">Contact</a>
  </nav>

  <h1>Fake News Detector</h1>

  <textarea id="newsInput" placeholder="Enter news..."></textarea>
  <button onclick="checkNews()">Check News</button>

  <h2 id="result"></h2>

  <script src="script.js"></script>
</body>
</html>

