body {
  font-family: 'Segoe UI';
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
  text-align: center;
}

nav {
  padding: 15px;
  background: rgba(0,0,0,0.3);
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

textarea, input {
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  background: #ff7eb3;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #ff4e8a;
}