<!DOCTYPE html>
<html>
<head>
    <title>Fake News Detector</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/dataset">Dataset</a>
  <a href="/contact">Contact</a>
</nav>


<h1>Fake News Detector</h1>


<!-- NEWS CHECK -->
<textarea id="newsInput"
placeholder="Enter news text here..."></textarea>

<button onclick="checkNews()">Check News</button>


<h2 id="predictionResult"></h2>
<h3 id="confidenceResult"></h3>



<!-- URL CHECK -->
<input id="urlInput"
placeholder="Enter news URL">

<button onclick="checkURL()">Check URL</button>

<h2 id="urlResult"></h2>



<!-- REGISTER -->
<h2>Register</h2>

<input id="regUser"
placeholder="Username">

<input id="regPass"
type="password"
placeholder="Password">

<button onclick="registerUser()">Register</button>

<h3 id="registerResult"></h3>



<script>

async function checkNews(){

const news =
document.getElementById("newsInput").value;


const response = await fetch("/predict", {

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({
news:news
})

});


const result =
await response.json();


document.getElementById("predictionResult").innerHTML =
result.prediction;


document.getElementById("confidenceResult").innerHTML =
"Confidence: " + result.confidence + "%";

}



async function checkURL(){

const url =
document.getElementById("urlInput").value;


const response = await fetch("/check_url",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({
url:url
})

});


const result =
await response.json();


document.getElementById("urlResult").innerHTML =
result.prediction;

}



async function registerUser(){

const username =
document.getElementById("regUser").value;


const password =
document.getElementById("regPass").value;


const response =
await fetch("/register",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({

username:username,
password:password

})

});


const result =
await response.json();


document.getElementById("registerResult").innerHTML =
result.msg;

}

</script>


</body>
</html>

