<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Fake News Detector</title>

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- NAVBAR -->

<div class="navbar">

<div class="logo">Fake News Detector</div>

<div class="nav-links">
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/dashboard">Dashboard</a>
<a href="/dataset">Dataset</a>
<a href="/contact">Contact</a>
<a href="/login_page">Login</a>
<a href="/register_page">Register</a>
</div>

</div>


<!-- NEWS TEXT CHECK -->

<div class="container">

<div class="card">

<h2>Check News Authenticity</h2>

<textarea id="newsText"
placeholder="Paste your news here..."></textarea>

<button onclick="predictNews()">Check News</button>

<br><br>

<input type="text"
id="urlInput"
placeholder="Enter news URL">

<button onclick="checkURL()">Check URL</button>

<div class="result"
id="result"></div>

</div>

</div>


<script>


async function predictNews(){

let news =
document.getElementById("newsText").value;

let resultBox =
document.getElementById("result");

resultBox.innerHTML =
"Checking authenticity...";


let response =
await fetch("/predict",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({
news:news
})

});


let data =
await response.json();


resultBox.innerHTML =
data.prediction +
" (" +
data.confidence +
"% confidence)";


if(data.prediction=="Fake"){

resultBox.style.color="red";

}

else{

resultBox.style.color="green";

}

}



async function checkURL(){

let url =
document.getElementById("urlInput").value;

let resultBox =
document.getElementById("result");


resultBox.innerHTML =
"Checking URL...";


let response =
await fetch("/check_url",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({
url:url
})

});


let data =
await response.json();


resultBox.innerHTML =
data.prediction;

}

</script>

</body>
</html>
