<!DOCTYPE html>
<html>

<head>

<title>Login</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<!-- NAVBAR -->

<div class="navbar">

<div class="logo">
Fake News Detector
</div>


<div class="nav-links">

<a href="/">Home</a>
<a href="/dataset">Dataset</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<a href="/register_page">Register</a>

</div>

</div>



<!-- LOGIN CARD -->

<div class="card">

<h2>Login to Your Account</h2>

<p class="subtitle">
Access dashboard and track predictions
</p>


<input id="user"
placeholder="Username">


<input id="pass"
type="password"
placeholder="Password">


<button onclick="login()">
Login
</button>


<p>

Don't have an account?

<a href="/register_page">

Create one here

</a>

</p>


</div>



<script>

function login() {

let username = document.getElementById("user").value;
let password = document.getElementById("pass").value;

fetch("/login", {

method: "POST",

headers: {

"Content-Type": "application/json"

},

body: JSON.stringify({

username: username,
password: password

})

})

.then(res => res.json())

.then(data => {

alert(data.msg);

if(data.msg === "Login success") {

window.location.href = "/";

}
}

)

.catch(err => {

console.log(err);

alert("Login failed");

});

}

</script>


</body>
</html>