<!DOCTYPE html>
<html>

<head>

<title>Register</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

    <div class="navbar">

<div class="logo">
Fake News Detector
</div>

<div class="nav-links">

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/dashboard">Dashboard</a>
<a href="/dataset">Dataset</a>
<a href="/contact">Contact</a>
<a href="/login_page">Login</a>

</div>

</div>


<div class="card">

<h2>Create Account</h2>


<input id="regUser"
placeholder="Username">


<input id="regPass"
type="password"
placeholder="Password">


<button onclick="registerUser()">
Register
</button>


<h3 id="registerResult"></h3>


<p>

Already registered?

<a href="/login_page">

Login here

</a>

</p>


</div>




<script>


async function registerUser(){

const username =
document.getElementById("regUser").value;


const password =
document.getElementById("regPass").value;


const response =
await fetch("/register",{

method:"POST",

headers:{
"Content-Type":"application/json"
},

body:JSON.stringify({

username:username,
password:password

})

});


const result =
await response.json();


document.getElementById("registerResult").innerHTML =
result.msg;

if(result.msg === "User registered successfully"){
window.location.href = "/login_page";
}

}


</script>


</body>
</html>