<!DOCTYPE html>
<html>

<head>

<title>Register</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

    <div class="navbar">

<div class="logo">
Fake News Detector
</div>

<div class="nav-links">

<a href="/dashboard">Home</a>
<a href="/about">About</a>
<a href="/dashboard">Dashboard</a>
<a href="/dataset">Dataset</a>
<a href="/contact">Contact</a>
<a href="/login_page">Login</a>

</div>

</div>


<div class="card">

<h2>Create Account</h2>


<input id="regUser"
placeholder="Username">


<input id="regPass"
type="password"
placeholder="Password">


<button onclick="registerUser()">
Register
</button>


<h3 id="registerResult"></h3>


<p>

Already registered?

<a href="/login_page">

Login here

</a>

</p>


</div>




<script>

function registerUser() {

let username = document.getElementById("regUser").value;
let password = document.getElementById("regPass").value;

if(!username || !password){

alert("Please fill all fields");

return;

}

fetch("/register", {

method: "POST",

headers: {

"Content-Type": "application/json"

},

body: JSON.stringify({

username: username,
password: password

})

})

.then(response => response.json())

.then(data => {

document.getElementById("registerResult").innerText = data.msg;

if(data.msg === "Registered successfully"){

window.location.href="/login_page";

}

})

.catch(error => {

console.log(error);

alert("Registration failed");

});

}

</script>

</body>
</html>